<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyeonglodang.mybatis.mapper.JobNoticeCateg_boardMapper">
       
    <select id="boardList" parameterType="JobNoticeCateg_boardDTO" resultType="JobNotice_boardDTO">
        <![CDATA[
        select * from jobNotice_board where companyIdx = #{companyIdx};      
        ]]>
    </select>
    
    <select id="operateView" parameterType="JobNoticeCateg_boardDTO" resultType="JobNoticeCateg_boardDTO">
        <![CDATA[
        select * from jobnoticecateg_board where companyIdx = #{companyIdx};     
        ]]>
    </select>
    
    <select id="boardEditList" parameterType="JobNotice_boardDTO" resultType="JobNotice_boardDTO">
        <![CDATA[
        select * from jobNotice_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </select>
    
    <select id="contAndOperAndPostDateView" parameterType="JobNotice_boardDTO" resultType="JobNoticeCateg_boardDTO">
        <![CDATA[
        select * from jobnoticecateg_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </select>
    
     <select id="categoryView" parameterType="JobNotice_boardDTO" resultType="RecruitCateg_boardDTO">
        <![CDATA[
        select * from recruitcateg_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </select>
    
    <select id="previewList" parameterType="JobNoticeCateg_boardDTO" resultType="JobNoticeCateg_boardDTO">
        <![CDATA[
        select * from jobnoticecateg_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </select>
    
    <select id="titleView" parameterType="JobNotice_boardDTO" resultType="JobNotice_boardDTO">
        <![CDATA[
        select * from jobNotice_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </select>
    
    <select id="announcementBoardList" parameterType="int" resultType="Announcement_boardDTO" >
        <![CDATA[
        select * from announcement_board where companyIdx = #{companyIdx};       
        ]]>
    </select>
    
    <select id="announcementBoardEditList" parameterType="Announcement_boardDTO" resultType="Announcement_boardDTO">
        <![CDATA[
        select * from announcement_board where announcement_no = #{announcement_no};      
        ]]>
    </select>
    
    <select id="administratorAccountsList" parameterType="Admininfo_boardDTO" resultType="Admininfo_boardDTO">
        <![CDATA[
        select * from admininfo where companyIdx = #{companyIdx};   
        ]]>
    </select>
    
    <select id="jobNoticeList" resultType="JobNotice_boardDTO">
        <![CDATA[
        select * from jobnotice_board;      
        ]]>
    </select>
    
    <select id="dDayCount" resultType="JobNotice_boardDTO">
        <![CDATA[
        select * from jobnotice_board;      
        ]]>
    </select>
    
    <select id="recruitCategList" parameterType="Integer">
        <![CDATA[
        SELECT COUNT(recruitcateg_board.recruitCateg_idx) 
      FROM jobnotice_board LEFT JOIN recruitcateg_board
      ON jobnotice_board.noticeControl_idx = recruitcateg_board.noticeControl_idx
      GROUP BY jobnotice_board.noticeControl_idx;     
        ]]>
    </select>
    
    <select id="companyinfoList" parameterType="Companyinfo_boardDTO">
        <![CDATA[
        select * from companyinfo;       
        ]]>
    </select>
    
    <select id="adminAccountsEditShowOne" resultType="Admininfo_boardDTO">
        <![CDATA[
        select * from admininfo where idx = #{idx};     
        ]]>
    </select>
    
    <select id="companyLogoView" parameterType="CompanyAccount_boardDTO" resultType="CompanyAccount_boardDTO">
        <![CDATA[
        select * from companyaccount_board where companyidx = #{companyIdx};     
        ]]>
    </select>
    
    <select id="companyOneShow" parameterType="Companyinfo_boardDTO" resultType="Companyinfo_boardDTO">
        <![CDATA[
        select * from companyinfo where companyidx = #{companyIdx};     
        ]]>
    </select>
    
    <select id="companyLogoView2" resultType="CompanyAccount_boardDTO">
        <![CDATA[
        select * from companyaccount_board;     
        ]]>
        
    </select>
    
    <select id="mainImageView" parameterType="CompanyAccount_boardDTO" resultType="CompanyAccount_boardDTO">
        <![CDATA[
        select * from companyaccount_board where companyidx = #{companyIdx};     
        ]]>
    </select>
    
    <select id="companyPage" parameterType="CompanyAccount_boardDTO" resultType="CompanyAccount_boardDTO">
        <![CDATA[
        select * from companyaccount_board where companyidx = #{companyIdx};     
        ]]>
    </select>
      
    <insert id="fileUploaddaoMap" parameterType="Map">
        <![CDATA[
        insert into fileupload_table (
        idx, 
        noticeControl_idx, 
        fileName, 
        filePath,
        file_type
        ) values (
        1, 
        #{noticeControl_idx}, 
        #{fileName}, 
        #{filePath},
        1
        ); 
        ]]>
    </insert>
    
    <insert id="imageUploaddaoMap" parameterType="Map">
        <![CDATA[
        insert into fileupload_table (
        idx, 
        noticeControl_idx, 
        fileName,
        filePath,
        file_type
        ) values (
        1, 
        #{noticeControl_idx}, 
        #{fileName},
        #{filePath},
        2
        ); 
        ]]>
    </insert>
    
    <insert id="companyRegister" parameterType="Companyinfo_boardDTO">
        <![CDATA[
        insert into companyinfo (
        company_name, 
        company_email,
        company_operation,
        company_note
        ) values (
        #{company_name}, 
        #{company_email},
        #{company_operation},
        #{company_note}
        ); 
        ]]>
    </insert>
    
    <select id="fileUploadList" parameterType="JobNoticeCateg_boardDTO" resultType="JobNoticeCateg_fileDTO">
        <![CDATA[
        select * from fileUpload_table where noticeControl_idx = #{noticeControl_idx} and file_type = 1;      
        ]]>
    </select>
    
    <select id="imageUploadList" parameterType="JobNoticeCateg_boardDTO" resultType="JobNoticeCateg_fileDTO">
        <![CDATA[
        select * from fileUpload_table where noticeControl_idx = #{noticeControl_idx} and file_type = 2;      
        ]]>
    </select>
    
    <select id="downLoadFile" parameterType="JobNoticeCateg_fileDTO" resultType="JobNoticeCateg_fileDTO">
        <![CDATA[
        select * from fileUpload_table where fileName = #{fileName} and fileUpload_idx = #{fileUpload_idx};      
        ]]>
    </select>
    
    <delete id="fileDeleteList" parameterType="JobNoticeCateg_fileDTO" >
        <![CDATA[
        delete from fileUpload_table where fileUpload_idx = #{fileUpload_idx};      
        ]]>
    </delete>
    
    <delete id="companyInfoDelete" parameterType="Companyinfo_boardDTO" >
        <![CDATA[
        delete from companyinfo where companyIdx = #{companyIdx};      
        ]]>
    </delete>
    
    <delete id="imageDeleteList" parameterType="JobNoticeCateg_fileDTO" >
        <![CDATA[
        delete from fileUpload_table where fileUpload_idx = #{fileUpload_idx} and file_type = 2;      
        ]]>
    </delete>
    
    <delete id="jobNoticeDelete" parameterType="JobNoticeCateg_boardDTO" >
        <![CDATA[
        delete from jobnotice_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </delete>
    
    <delete id="jobNoticeCategDelete" parameterType="JobNoticeCateg_boardDTO" >
        <![CDATA[
        delete from jobnoticecateg_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </delete>
    
    <delete id="fileUploadDelete" parameterType="JobNoticeCateg_boardDTO" >
        <![CDATA[
        delete from fileupload_table where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </delete>
    
    <delete id="recruitCategDelete" parameterType="Announcement_boardDTO" >
        <![CDATA[
        delete from recruitcateg_board where noticeControl_idx = #{noticeControl_idx};      
        ]]>
    </delete>
    
    <delete id="boardEditDelete" parameterType="JobNoticeCateg_boardDTO" >
        <![CDATA[
        delete from announcement_board where announcement_no = #{announcement_no};      
        ]]>
    </delete>
    
    <delete id="adminAccountDelete" parameterType="Admininfo_boardDTO" >
        <![CDATA[
        delete from admininfo where idx = #{idx};      
        ]]>
    </delete>
    
     <update id="updateJobNotice_boardDTO" parameterType="JobNotice_boardDTO" >
        <![CDATA[
        update jobnotice_board set jobNotice_title = #{jobNotice_title} where noticeControl_idx = #{noticeControl_idx};    
        ]]>
    </update>
    
     <update id="updateJobNoticeCateg_boardDTO" parameterType="JobNoticeCateg_boardDTO" >
        <![CDATA[
        update jobnoticecateg_board set jobNoticeCateg_postingDate = #{jobNoticeCateg_postingDate}, jobNoticeCateg_operation = #{jobNoticeCateg_operation}, jobnoticecateg_content = #{jobNoticeCateg_content} where noticeControl_idx = #{noticeControl_idx};    
        ]]>
    </update>
    
    <update id="saveJobNotice_boardDTO" parameterType="JobNotice_boardDTO">
        <![CDATA[
        update jobnotice_board set jobNotice_title = #{jobNotice_title} where noticeControl_idx = #{noticeControl_idx}; 
        ]]>
    </update>
    
    <insert id="saveJobNoticeCateg_boardDTO" parameterType="JobNoticeCateg_boardDTO">
        <![CDATA[
        insert into jobnoticecateg_board (
        companyIdx,
        noticeControl_idx,
        jobNoticeCateg_postingDate, 
        jobNoticeCateg_operation, 
        jobNoticeCateg_content,
        jobNoticeCateg_regi
        ) values (
        #{companyIdx}, 
        #{noticeControl_idx}, 
        #{jobNoticeCateg_postingDate}, 
        #{jobNoticeCateg_operation},
        #{jobNoticeCateg_content},
        now()
        );         
        ]]>
    </insert>
    
     <update id="savingBoardEdit" parameterType="Announcement_boardDTO">
        <![CDATA[
        update announcement_board set announcement_category = #{announcement_category}, announcement_title = #{announcement_title}, announcement_postingDate = #{announcement_postingDate}, announcement_operation = #{announcement_operation}, announcement_content = #{announcement_content} where announcement_no = #{announcement_no}; 
        ]]>
    </update>
    
     <update id="companyEdit" parameterType="Companyinfo_boardDTO">
        <![CDATA[
        update companyinfo set company_name = #{company_name}, company_email = #{company_email}, company_operation = #{company_operation}, company_note = #{company_note} where companyIdx = #{companyIdx}; 
        ]]>
    </update>
    
     <update id="adminAccountUpdate" parameterType="Admininfo_boardDTO">
        <![CDATA[
        update admininfo set 
        name = #{name}, 
        id = #{id}, 
        pw = #{pw}, 
        role = #{role}, 
        auth = #{auth}, 
        email = #{email}, 
        tel = #{tel}, 
        dep = #{dep}
        where idx = #{idx}; 
        ]]>
    </update>
    
     <insert id="boardWrite" parameterType="Announcement_boardDTO">
        <![CDATA[
        insert into announcement_board (
        companyIdx,
        announcement_category,
        announcement_title,
        announcement_postingDate, 
        announcement_operation, 
        announcement_content
        ) values (
        #{companyIdx},
        #{announcement_category}, 
        #{announcement_title}, 
        #{announcement_postingDate}, 
        #{announcement_operation},
        #{announcement_content}
        );         
        ]]>
    </insert>
    
    <insert id="adminAccountRegister" parameterType="Admininfo_boardDTO">
        <![CDATA[
        insert into admininfo (
        companyIdx,
        name,
        id,
        pw, 
        role, 
        auth,
        email,
        tel,
        dep
        ) values (
        #{companyIdx},
        #{name}, 
        #{id}, 
        #{pw}, 
        '1',
        #{auth},
        #{email},
        #{tel},
        #{dep}
        );         
        ]]>
    </insert>   
    
    <select id="getCompanyIdx" resultType="int">
       <![CDATA[
       select companyIdx from companyinfo order by companyIdx desc limit 1
       ]]>
    </select>  
    
    <insert id="jobInsert" parameterType="JobNotice_boardDTO">
       <![CDATA[
        insert into jobNotice_board (
           companyIdx,
           jobNotice_title,
           jobNotice_regidate,
           jobNotice_operation,
           jobNotice_postingDate
        )  VALUES (
           #{companyIdx},
           #{jobNotice_title},
           now(),
           #{jobNotice_operation},
           #{jobNotice_postingDate}
        )
        ]]>
    </insert>
</mapper>