<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyeonglodang.mybatis.mapper.RecruitMapper">

	<select id="getConfirm" parameterType="Map" resultType="RecruitDTO">
		SELECT email,password,scode from applicant
		where email = #{email} and gonggoidx=#{gonggoidx}
	</select>

	
	<select id="getCustomContext" parameterType="Map" resultType="String">
		select ac.context  
		from announcement_applicant aa 
		join announcement_custom ac 
		on aa.announcement_custom_title = ac.announcement_custom_title 
		and ac.part = #{part} and aa.scode = #{scode}
		and ac.gonggoidx = #{gonggoidx}
		and ac.companyIdx = #{companyIdx}
	</select>
	
	<select id="getDate" parameterType="int" resultType="Map">
		SELECT * from part_list
		where gonggoidx = #{gonggoidx}
	</select>
	
	<select id="getJncList" resultType="JobNotice_boardDTO">
      select * from jobnotice_board
   </select>
   
   <select id = "getCompanyInfo" resultType="Companyinfo_boardDTO">
      select * from companyinfo
   </select>
   
   <select id = "getCompanyLogo" resultType="CompanyAccount_boardDTO">
      select * from companyaccount_board
   </select>
   
   <select id = "dDayCount" resultType="JobNotice_boardDTO">
      select * from jobnotice_board
   </select>
   
    <select id="getGonggo" parameterType="int" resultType="Map">
      SELECT * from jobnotice_board
      where companyIdx = #{companyIdx}
   </select>
   
   <select id="getGonggoidx" parameterType="String" resultType="int">
      SELECT noticeControl_idx from jobnotice_board
      where jobNotice_title = #{title}
   </select>
	
</mapper>