<html xmlns:th="http://www.thymeleaf.org">
    <th:block th:fragment="header">

        <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script>
            function getAuth() {
                if (localStorage.getItem("token")) {
                    $.ajax({
                        type: 'POST',
                        url: '/auth-api/getAuth',
                        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                        beforeSend: function (xhr) {
                            document.querySelector('#loadingIndicator').style.display = 'block';
                            xhr.setRequestHeader('token', localStorage.getItem("token"))
                            document.cookie = localStorage.getItem("token");
                        },
                        success: function (data) {
                            setButton(data);
                        },
                        error: function (xhr, status, error) {
                            console.error(xhr, status, error)
                        },
                        complete: function () {
                            document.querySelector('#loadingIndicator').style.display = 'none';
                        }
                    });
                } else {
                    setButton('NONE');
                }
            }

            function setButton(data) {
                if(data.role == 'ROLE_USER') {
                    document.querySelector('#signUpBtn').style.display = 'none';
                    document.querySelector('#signInBtn').style.display = 'none';
                } else if (data.role == "ROLE_ADMIN") {
                    document.querySelector('#signUpBtn').style.display = 'none';
                    document.querySelector('#signInBtn').style.display = 'none';
                } else {
                    document.querySelector('#signOutBtn').style.display = 'none';
                    document.querySelector('#myShopBtn').style.display = 'none';
                }
            }

            function deleteToken() {
                localStorage.clear();
                alert("로그아웃 되었습니다")
                window.location.href = '/';
            }

            window.onload = function() {
                getAuth();
            }
        </script>
        <div id="loadingIndicator" style="display: none">
            로딩중입니다
        </div>
        <div style="display: inline; position: fixed; right: 20px; text-align: right;">
            <input type="button" onclick="location.href='/auth/signup'" id="signUpBtn" value="회원가입" />
            <input type="button" onclick="location.href='/auth/signin'" id="signInBtn" value="로그인" />
            <input type="button" onclick="location.href='/user/product-list'" id="myShopBtn" value="내상점" />
            <input type="button" onclick="deleteToken()" id="signOutBtn" value="로그아웃"/>
        </div>
        <div>
            <a href="/">연근 마켓</a>
        </div>
    </th:block>
</html>