<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function func_signup() {
            let id = document.querySelector('#id').value;
            let pw = document.querySelector('#pw').value;
            let name = document.querySelector('#name').value;
            let phone = document.querySelector('#phone').value;
            let email = document.querySelector('#email').value;
            let params = {id, pw, name, phone, email}
            $.ajax({
                type: 'POST',
                url: '/auth-api/signup',
                data: params,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                success: function(data, status) {
                    if(status == 'success') {
                        alert(data.id + '(' + data.name + ') 님 회원가입 완료되었습니다');
                        window.location.href = 'http://localhost:8091/';
                    }
                },
                error: function(xhr, status, error) {
                    console.log(xhr, status, error);
                }
            });
        }
    </script>
</th:block>

<div layout:fragment="content">
    <h1>회원가입 페이지</h1>
    <form method="post" id="signupForm">
        <table>
            <tr><td> 아이디 <input type="text" id="id"/></td></tr>
            <tr><td> 비밀번호 <input type="password" id="pw"/></td></tr>
            <tr><td> 이름 <input type="text" id="name"/></td></tr>
            <tr><td> 휴대폰 <input type="text" id="phone"/></td></tr>
            <tr><td> 이메일 <input type="text" id="email"/></td></tr>
            <tr><td><input type="button" onclick="func_signup()" value="회원가입"/></td></tr>
        </table>
    </form>
</div>

</html>
