<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function func_signin() {
            let id = document.querySelector('#id').value;
            let pw = document.querySelector('#pw').value;
            let params = {id, pw}
            $.ajax({
                type: 'GET',
                url: '/auth-api/signin',
                data: params,
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                headers: {
                    "token": localStorage.getItem("token")
                },
                success: function(data, status) {
                    if(status == 'success') {
                        localStorage.setItem("token", data.token);
                        alert('로그인 완료 되었씁니다');
                        document.cookie = localStorage.getItem("token");
                        window.location.href = 'http://localhost:8091/';
                    }
                },
                error: function(xhr, status, error) {
                    console.log(xhr, status, error);
                }
            });
        }
    </script>
</th:block>

<div layout:fragment="content">
    <h1>로그인 페이지</h1>
    <form method="post" id="signupForm">
        <table>
            <tr><td> 아이디 <input type="text" id="id"/></td></tr>
            <tr><td> 비밀번호 <input type="password" id="pw"/></td></tr>
            <tr><td><input type="button" onclick="func_signin()" value="로그인"/></td></tr>
        </table>
    </form>
</div>

</html>
